

* {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.links {
width: 100%;
height: 100%;
text-transform: uppercase;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

nav ul li a {
    color:black;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
color:blue;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: blue;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

body {
  background-image: linear-gradient(to right, rgba(32, 191, 85, 0.7), rgba(1, 186, 239, 0.7));
  background-size: cover;
}

img {
  width: 75%;
  margin-top: 100px;
  margin-bottom: 100px;
  top: 90%;
  border-style: groove;
  border-width: thick;
  border-color:dimgrey;
  border-radius: 0.75rem;
}

#fade-in-img{
  opacity: 1;
  animation: fade-in 2s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color:#1f1f25;
  }

  .social-links{
    display: flex;
  }

  .social-links ul {
    display: flex;
  }

  .social-items {
    list-style: none;
  }

  .social-items a {
    padding: 10px 20px;
    font-size: 45px;
    color:aqua;
  }

  .social-items a:hover{
    color: #4b8a86;
  }

  .outer-footer {
    padding: 8px;
    text-align: center;
    color:aliceblue;
    font-size: 13px;
    background-color: #3f3f3f;
  }
  

